@import url('./_begin/nav__link-begin.css');
@import url('./_end/nav__link-end.css');

.nav__link {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  line-height: 150%;
}

.nav__link_anim:hover {
  transform: scale(1.5);
  transition: transform .7s linear;
}
