@import url('../header/__bg/header__bg.css');
@import url('../header/__article/header__article.css');
@import url('../header/__title/header__title.css');
@import url('../header/__subtitle/header__subtitle.css');
@import url('../header/__button/header__button.css');
@import url('../header/__photo/header__photo.css');
@import url('../header/__content-text/header__content-text.css');
@import url('../header/__text/header__text.css');
@import url('../header/__slider-button/header__slider-button.css');
@import url('../header/__content/header__content.css');
@import url('../header/__social/header__social.css');
@import url('../header/__social-link/header__social-link.css');

.header {
  position: relative;
  max-width: 100%;
  padding-top: 3rem;
  overflow: hidden;
}
