@import url('./__menu/nav__menu.css');
@import url('./__link/nav__link.css');

.nav {
  margin-left: calc(100vw - (948px + 425px));
  max-width: 948px;
  display: flex;
  justify-content: space-between;
}
