.steps__card-eclipse_blue {
  background-color:  #56CCF2;
}

.steps__card-eclipse_orange {
  background-color:  #fccc2b;
}

.steps__card-eclipse_green {
  background-color:  #1cd955;
}

.steps__card-eclipse_red {
  background-color:  #f36060;
}
